<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyCoSoGietMo.Properties.Settings.GGTech_CoSoGietMoConnectionString"
            connectionString="Data Source=ADMIN\SQLEXPRESS2012;Initial Catalog=GGTech_CoSoGietMo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>